/* font-family: "LatoLight"; */
@font-face {
  font-family: "LatoLight";
  src: url("../../fonts/LatoLight/LatoLight.eot");
  src: url("../../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/LatoLight/LatoLight.woff") format("woff"),
  url("../../fonts/LatoLight/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "LatoRegular"; */
@font-face {
  font-family: "LatoRegular";
  src: url("../../fonts/LatoRegular/LatoRegular.eot");
  src: url("../../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/LatoRegular/LatoRegular.woff") format("woff"),
  url("../../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "TahomaRegular"; */
@font-face {
  font-family: 'TahomaRegular';
  src: url('../../fonts/TahomaRegular/Tahoma-Regular.eot');
  src: url('../../fonts/TahomaRegular/Tahoma-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/TahomaRegular/Tahoma-Regular.woff') format('woff');
  url('../../fonts/TahomaRegular/Tahoma-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* font-family: "TahomaBold"; */
@font-face {
  font-family: 'TahomaBold';
  src: url('../../fonts/TahomaBold/Tahoma-Bold.eot');
  src: url('../../fonts/TahomaBold/Tahoma-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/TahomaBold/Tahoma-Bold.woff') format('woff'),
  url('../../fonts/TahomaBold/Tahoma-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'slick';
  src: url('../../fonts/slick/slick.eot');
  src: url('../../fonts/slick/slick.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/slick/slick.woff') format('woff'),
  url('../../fonts/slick/slick.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'FontAwesome';
  src: url('../../fonts/FontAwesome/fontawesome-webfont.eot');
  src: url('../../fonts/FontAwesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/FontAwesome/fontawesome-webfont.woff') format('woff'),
  url('../../fonts/FontAwesome/fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
