
//Color
$color-base: rgb(29, 28, 27);
$color-stack: rgb(38, 105, 182);
$light-color: rgb(255, 255, 255);
$yellow-color: rgb(255, 242, 0);
$border-color: rgb(190, 190, 190);
$dark-color: rgb(0, 32, 76);
$blue-color: rgb(38, 105, 181);
$violet-color: rgb(0, 64, 134);
$hover-podbor: rgb(193, 193, 193);
$bg-color: rgb(240, 240, 240);
$search-color: rgb(84, 84, 84);
$box-color: rgb(88, 21, 163);
$inner-color: rgb(0, 33, 76);
$red-color: rgb(255, 0, 22);
$podbor-color: rgb(131, 131, 131);
$table-color: rgb(35, 35, 35);


//Font-size
$h1-size: 1.626em;
$h2-size: 1.25em;
$h3-size: 1em;
$h4-size: 0.813em;
$other-size: 0.688em;