<header>
    <div class="container">
        <div class="row">
            <div class="top-panel">
                <div class="col-md-2 padding_null">
                    <div class="logo">
                        <img src="../img/logo.png" alt="logo">
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>Мы создаем комфорт и безопасность вашего автомобиля</h3>
                </div>
                <div class="col-md-3 text-center">
                    <div class="search">
                        <input type="text"  id="form-query" placeholder="Поиск по сайту">
                    </div>
                </div>
                <div class="col-md-2 padding_null">
                    <div class="phone">
                        <a href="#">+7 (343) 222-12-21</a>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="lang">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="flag">
                                            <img src="../img/flag.png" alt="flag">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <p>РУС</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="arrow">
                                            <img src="../img/arr.png" alt="arrow">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 padding_null">
                            <div class="email">
                                <a href="#">info@rival.su</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 padding_null">
                    <div class="col-md-3 padding_null">
                        <div class="vertical_line">
                            <img src="../img/line_vertical.png" alt="line_vert">
                        </div>
                    </div>
                    <div class="col-md-5 padding_null">
                        <div class="login">
                            <img src="../img/ico-privat.png" alt="login">
                        </div>
                    </div>
                    <div class="col-md-3 padding_null">
                        <div class="arrow">
                            <img src="../img/arr.png" alt="arrow">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 padding_null">
                <nav>
                    <ul>
                        <li><a href="index.html">Главная</a></li>
                        <li><a href="about.html">О компании</a></li>
                        <li><a href="product.html">Продукция</a></li>
                        <li><a href="range.html">Ассортимент</a></li>
                        <li><a href="action.html">Акции</a></li>
                        <li><a href="partners.html">Партнерам</a></li>
                        <li><a href="news.html">Новости</a></li>
                        <li><a href="contact.html">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>