<div class="container">
    <div class="row">
        <div class="col-lg-12 pr">

            <section class="tabs">

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#mark" data-toggle="tab">Марка</a></li>
                    <li><a href="#model" data-toggle="tab">Модель</a></li>
                    <li><a href="#product" data-toggle="tab">Продукт</a></li>
                </ul>

                <div class="tab-search">
                    <input type="text"  id="form-query2" placeholder="Поиск по артикулу/названию">
                </div>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="mark">123</div>
                    <div class="tab-pane" id="model">456</div>
                    <div class="tab-pane" id="product">789</div>
                </div>

            </section>


        </div>
    </div>
</div>