<section class="sidebar">
    <div class="block-news">
        <div class="overlay">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="active item">
                        <h2>Новости</h2>
                        <p class="data-news">14.12.2015</p>
                        <p class="heading-news">Зимняя защита картера<br> от компании Rival</p>
                        <p>Бесплатная защита картера для вашего
                            автомобиля заказе защита для вашего
                            автомобиля при заказедо 10 декабря!
                        </p>
                        <div class="btn-wrap">
                            <a href="news.html" class="btn-news">Перейти</a>
                        </div>
                    </div>
                    <div class="item">
                        <h2>Новости</h2>
                        <p class="data-news">17.12.2015</p>
                        <p class="heading-news">Зимняя защита картера<br> от компании Rival</p>
                        <p>Бесплатная защита картера для вашего
                            автомобиля заказе защита для вашего
                            автомобиля при заказедо 10 декабря!
                        </p>
                        <div class="btn-wrap">
                            <a href="news.html" class="btn-news">Перейти</a>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-menu-left"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-menu-right"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="block-action">
        <div class="overlay">
            <h2>Акция</h2>
            <p class="heading-news">Зимняя защита картера<br> от компании Rival</p>
            <p>Бесплатная защита картера для вашего
                автомобиля заказе защита для вашего
                автомобиля при заказедо 10 декабря!
            </p>
            <div class="btn-wrap">
                <a href="action.html" class="btn-news">Перейти</a>
            </div>
        </div>
    </div>

    <div class="block-work">
        <div class="overlay">
            <h2>Работа у нас</h2>
            <p class="heading-news">Менеджер активных продаж</p>
            <p>Интересная, престижная работа
                в молодом дружном коллективе,
                корпоративное обучение,
                Профессиональный и карьерный рост;
                50 000 руб.</p>
            <div class="btn-wrap">
                <a href="contact.html" class="btn-news">Перейти</a>
            </div>
        </div>
    </div>

</section>

