.btn-news{
  border: 1px solid $light-color;
  box-sizing: border-box;
  padding: 8px 22px;
  color: $light-color;
  text-transform: uppercase;
  font-family: "TahomaRegular", sans-serif;
  font-size: $other-size;
  font-weight: 400;
  line-height: 2.182;
  &:hover{
    color: $light-color;
    text-decoration: none;
    opacity: .7;
  }
}
.btn-foot{
  border: 1px solid  #1d1c1b;
  box-sizing: border-box;
  color: #1d1c1b;
  text-transform: uppercase;
  padding: 8px 16px;
  font-family: "TahomaRegular", sans-serif;
  font-size: $other-size;
  font-weight: 400;
  cursor: pointer;
  &:hover{
    color: #1d1c1b;
    text-decoration: none;
    opacity: .7;
  }
}
.btn-back{
  border: 1px solid $blue-color;
  box-sizing: border-box;
  color: $blue-color;
  text-transform: uppercase;
  padding: 8px 16px;
  font-family: "TahomaRegular", sans-serif;
  font-size: $other-size;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  &:hover, &:focus{
    color: $blue-color;
    text-decoration: none;
    opacity: .7;
  }
}
.btn-bay{
  border: 1px solid $blue-color;
  background-color: $blue-color;
  box-sizing: border-box;
  color: $light-color;
  text-transform: uppercase;
  padding: 8px 20px;
  font-family: "TahomaRegular", sans-serif;
  font-size: $other-size;
  font-weight: 400;
  cursor: pointer;
  &:hover{
    color: $blue-color;
    text-decoration: none;
    background-color: $light-color;
  }
}
.btn-next{
  border: 1px solid $color-base;
  box-sizing: border-box;
  background-color:  rgba(255, 255, 255, 0.75);
  font-family: "TahomaBold", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 20px;
  color:  #006bb9;
  font-size: 0.688em;
  font-weight: 700;
  line-height: 2.182;
  &:hover, &:focus{
    color:  #006bb9;
    text-decoration: none;
    background-color: lighten(rgba(255, 255, 255, 0.75), 25%);
  }
}
.btn-popup{
  border-color: transparent;
  background-color: #2669b5;
  font-family: "TahomaBold", sans-serif;
  padding: 7px 25px;
  box-sizing: border-box;
  color: $light-color;
  font-size: 0.688em;
  font-weight: 700;
  line-height: 2.182;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}