header{
  width: 100%;
  max-width: 1150px;
  height:100px;
  margin:0 auto;

  .top-panel{

    .logo{
      margin-top: 20px;
    }

    h3{
      font-family: "TahomaRegular", sans-serif;
      color: $color-stack;
      font-size: $h3-size;
      font-weight: 400;
      line-height: 23px;
      padding-left: 10px;
      text-align: left;
      text-transform: uppercase;
      transform: scaleX(1.0075);
    }

    .search{
      margin: 32px 0 0 60px;
      input{
        width: 200px;
        height: 30px;
        @extend input;
      }
      #form-query:-moz-placeholder {
        background: $light-color;
        color: $search-color;
        font-family: "TahomaRegular", sans-serif;
        font-size: $other-size;
        font-weight: 400;
        line-height: 2.182;
      }
      #form-query::-webkit-input-placeholder {
        background: $light-color;
        color: $search-color;
        font-family: "TahomaRegular", sans-serif;
        font-size: $other-size;
        font-weight: 400;
        line-height: 2.182;
      }
      #form-query:-ms-input-placeholder {
        background: $light-color;
        color: $search-color;
        font-family: "TahomaRegular", sans-serif;
        font-size: $other-size;
        font-weight: 400;
        line-height: 2.182;
      }

    }

    .phone{
      margin-top: 17px;
      a{
        font-family: "TahomaBold", sans-serif;
        color: $color-base;
        font-size: 1.1em;
        font-weight: 700;
        line-height: 24px;
        display: inline-block;
        &:hover{
          text-decoration: none;
        }
      }
    }

    .dropbtn {
      padding: 5px;
      cursor: pointer;
    }

    .dropdown {
      position: relative;
      display: inline-block;
      margin-top: -5px;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: transparent;
      width: 140px;
      z-index: 10;
    }

    .dropbtn {
      background: url('../../img/flag.png') no-repeat left center;
      padding-left: 25px;
      width: 40px;
    }

    .dropbtn::after {
      background: rgba(0, 0, 0, 0) url("../../img/arr.png") no-repeat scroll center center;
      content: "";
      height: 16px;
      position: absolute;
      right: -35px;
      top: 7px;
      width: 16px;
    }

    .dropdown-content a:first-child
    {
      background: url('../../img/flag.png') no-repeat left center;
    }

    .dropdown-content a:last-child
    {
      background: url('http://www.miru-mir.info/images/en.gif') no-repeat left center;
    }

    .dropdown-content a {
      color: black;
      padding: 2px 0 2px 25px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: transparent;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }


    .email{
      margin-top: 3px;
      padding-left: 10px;
      a{
        font-family: "TahomaRegular", sans-serif;
        color: $inner-color;
        font-size: 0.9em;
        font-weight: 400;
        line-height: 1.714;
        &:hover{
          color:$color-stack;
          text-decoration: none;
        }
      }
    }

    .vertical_line{
      margin-top: 25px;
    }

    .login{
      margin-top: 21px;
      img{
        width: 38px;
        height: 38px;
      }
    }

    .arrow{
      margin: 30px 0 0 5px;
    }
  }

}