nav{
  position: relative;
  ul{

    li{
      float: left;
      list-style: none;
      background-color: $light-color;
      height: 51px;
      box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.15);
      a{
        font-family: "TahomaRegular", sans-serif;
        color: $color-base;
        font-size: $h3-size;
        font-weight: 400;
        line-height: 3.1;
        transform: scaleX(1.0075);
        width: 145px;
        display: block;
        text-align: center;
        &:hover, &:active{
          text-decoration: none;
          border-bottom: 4px solid $color-stack;
          font-weight: 700;
          display: block;
          color: $color-base;
        }
      }

    }
    &:first-child{
      margin-left: -40px;
    }
    li.active{
      a{
        font-family: "TahomaRegular", sans-serif;
        color: $color-base;
        font-size: $h3-size;
        line-height: 3.1;
        transform: scaleX(1.0075);
        width: 145px;
        display: block;
        text-align: center;
        text-decoration: none;
        border-bottom: 4px solid $color-stack;
        font-weight: 700;
      }

    }


  }

}